[submodule "100DaysOfCode_TheCompletePythonProBootcamp/advanced/AppBrewery_100DaysOfPython-Day71-DeployingWebApp"]
	path = 100DaysOfCode_TheCompletePythonProBootcamp/advanced/AppBrewery_100DaysOfPython-Day71-DeployingWebApp
	url = https://github.com/izmyname/AppBrewery_100DaysOfPython-Day71-DeployingWebApp.git
