<div class="container-fluid mt-auto color-black">
  <div class="container">
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4">
      <p class="col-md-4 mb-0 color-white">© {{current_year}} Izmyname</p>
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a href="https://github.com/izmyname" target="_blank" class="nav-link px-2 color-white">GitHub</a>
        </li>
        <li class="nav-item">
          <a href="https://discordapp.com/users/1355583569208016928" target="_blank" class="nav-link px-2  color-white">Discord</a>
        </li>
      </ul>
    </footer>
  </div>
</div>
